<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Editar Cliente</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="js.js"></script>
</head>
<body>
	<form class="form-signin" method="post" action="atualizar">
		<div class="modal fade" id="modalEditarClientes" tabindex="-1"
			role="dialog" aria-labelledby="modalEditarClientes"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<center>
							<h5 class="modal-title" id="modalEditarClientes">Editar
								Clientes</h5>
						</center>
					</div>
					<div class="modal-body">
						<div class="input-group input-group-sm mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
							</div>
							<input type="hidden" class="form-control" aria-label="Small"
								style="width: 313%;" aria-describedby="inputGroup-sizing-sm"
								id="id" name="id" maxlength="100" th:name="id"
								th:value="${cliente.id}"> <input type="text"
								class="form-control" aria-label="Small" style="width: 313%;"
								aria-describedby="inputGroup-sizing-sm" id="nome" name="nome"
								maxlength="100" th:name="nome" th:value="${cliente.nome}">

							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Cpf</span>
							</div>
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" id="cpf" name="cpf"
								maxlength="14" th:name="cpf" th:value="${cliente.cpf}">

							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
							</div>
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" id="email" name="email"
								style="width: 150%;" th:name="email" th:value="${cliente.email}">

							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Telefone</span>
							</div>
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" id="telefone"
								name="telefone" maxlength="15" th:name="telefone"
								th:value="${cliente.telefone}">

							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Cep</span>
							</div>
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" id="cep" name="cep"
								maxlength="15" th:name="cep" th:value="${cliente.cep}">

							<div class="input-group-prepend">
								<span class="input-group-text" id="inputGroup-sizing-sm">Rua</span>
							</div>
							<input type="text" class="form-control" aria-label="Small"
								aria-describedby="inputGroup-sizing-sm" id="rua" name="rua"
								style="width: 155%;" th:name="rua" th:value="${cliente.rua}">
						</div>

						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">Bairro</span>
						</div>
						<input type="text" class="form-control" aria-label="Small"
							aria-describedby="inputGroup-sizing-sm" id="bairro" name="bairro"
							style="width: 75%;" th:name="bairro" th:value="${cliente.bairro}">
						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">Cidade</span>
						</div>
						<input type="text" class="form-control" aria-label="Small"
							aria-describedby="inputGroup-sizing-sm" id="cidade" name="cidade"
							style="width: 75%;" th:name="cidade" th:value="${cliente.cidade}">

						<div class="input-group-prepend">
							<span class="input-group-text" id="inputGroup-sizing-sm">Estado</span>
						</div>
						<input type="text" class="form-control" aria-label="Small"
							aria-describedby="inputGroup-sizing-sm" id="uf" name="uf"
							style="width: 8%;" th:name="uf" th:value="${cliente.uf}" maxlength="2">
						<br>
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<input type="submit" class="btn btn-primary" value="Salvar" />
					</div>
				</div>
			</div>
		</div>
	</form>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
	<script
		src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(window).on('load', function() {
			$('#modalEditarClientes').modal('show');
		});

		$(document).ready(function() {
			var $seuCampoCpf = $("#cpf");
			var $campoCep = $("#cep");
			$seuCampoCpf.mask('000.000.000-00', {
				reverse : true
			});

			$campoCep.mask('00.000-000', {
				reverse : true
			});
		});

		$(document)
				.ready(
						function() {
							var SPMaskBehavior = function(val) {
								return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000'
										: '(00) 0000-00009';
							}, spOptions = {
								onKeyPress : function(val, e, field, options) {
									field.mask(SPMaskBehavior.apply({},
											arguments), options);
								}
							};

							$('#telefone').mask(SPMaskBehavior, spOptions);
						});
	</script>
</body>
</html>